<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      body {
        height: 100dvb;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      main,
      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: fit-content;
        justify-content: center;
        align-items: center;
      }
    </style>
  </head>
  <body>
    <main>
      <sextion>
        <h1>Welcome, <%= name %></h1>
      </sextion>
      <sextion>
        <main>
          <h2>Register</h2>
          <form action="/registerme" method="post">
            <input
              type="text"
              name="name"
              placeholder="your-name"
              autocomplete="off"
            />
            <!-- <input type="text" /> -->
            <button>SUBMIT @@</button>
          </form>

          <h2>Login</h2>

          <form action="/login" method="post">
            <input
              type="text"
              name="name"
              placeholder="username"
              autocomplete="off"
            />
            <!-- <input type="text" /> -->
            <button>SUBMIT @</button>
          </form>

          <!-- <form action="/logout" method="post">
            <button>LogOut @@</button>
          </form> -->
        </main>
      </sextion>
    </main>
  </body>
</html>
