<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      body {
        height: 100dvb;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      main {
        text-align: center;
        display: flex;
        column-gap: 1rem;
        flex-direction: column;
      }

      .forms {
        display: flex;
        /* flex-direction: row; */
        column-gap: 1rem;
      }

      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: fit-content;
        justify-content: center;
        align-items: center;
      }

      form input {
        height: 2rem;
        font-size: 1.5rem;
      }

      button {
        font-size: 1rem;
        font-weight: bold;
      }
    </style>
  </head>
  <body>
    <main>
      <section>
        <h1>Welcome, <%= name %></h1>
      </section>
      <section class="forms">
        <form action="/register" method="post">
          <h2>Register</h2>
          <input
            type="text"
            name="name"
            placeholder="your-name"
            autocomplete="off"
          />
          <!-- <input type="text" /> -->
          <button>Register @@</button>
        </form>

        <form action="/login" method="post">
          <h2>Login</h2>
          <input
            type="text"
            name="name"
            placeholder="username"
            autocomplete="off"
          />
          <!-- <input type="text" /> -->
          <button>Login @</button>
        </form>

        <!-- <form action="/logout" method="post">
            <button>LogOut @@</button>
          </form> -->
      </section>
    </main>
  </body>
</html>
