<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div>
        <h1>Profile Page</h1>
        <h2>You are Logged-in Succefully</h2>
        <h3><%= name %></h3>
      </div>

      <form action="/logout" method="post">
        <button>LogOut @@</button>
      </form>
    </main>
  </body>
</html>
